
  .eventos {
    padding: 5%;
    color: white;

    .texto-evento {
      margin-top: 20px;
    }
    .texto-evento{
      width: 60%;
    }
    .card .card-content {
      background-color: rgb(18, 24, 60);
      padding: 0px;
      border-radius: 0 0 2px 2px;
    }
    .card-image img{
      margin-left:10px;
    } 
    .resumo-evento{
      color: rgb(165, 164, 164);
      padding-bottom: 10px;
    }
    .data-evento{
      color: rgb(197, 197, 197);
    }
    .autor-evento{
      color: rgb(255, 255, 255);
    }
  }

