@media (min-width: 992px) {
  .eventos {
    padding: 5%;
  }
  .card-eventos {
    /* padding-top: 20px; */
    height: 320px;
    background-color: rgba(58, 80, 144, 0.291);
  }
  .card-eventos img{
    margin-left:-15px;
  }
  .eventos{  
   color: rgb(255, 255, 255);
   border-bottom: 2px solid white;
   margin-left: 10px;
  }
  .card-text-evento{
    height: 300px;
    display: flex;
    flex-direction: column;
    h2{
      color: #ffffff;
      font-size: 30px;
    }
    p{
      font-size: 30px;
      margin-top: 6px;
      color: rgb(204, 204, 204);

    }
    span{
      font-size: 12px;
      margin-top: 0px;
      color: #ffffff;
    }
    .data-evento{
      display: flex;
      justify-content: right;
      height: 350px;
      align-items: end;
      color: rgb(207, 207, 207);
      padding-bottom: 15px;
    }
  }
}
