/* Estilos comuns para .word em todos os tamanhos de tela
.word {
    color: #ffffff;
    font: 90 normal 6em/1.5 "Montserrat", sans-serif;
    text-shadow: 1px 1px 2px rgba(53, 8, 104, 0.5),
      2px 2px 4px rgba(42, 6, 83, 0.5), 3px 3px 6px rgba(42, 6, 83, 0.5),
      4px 4px 8px rgba(42, 6, 83, 0.5), 5px 5px 10px rgba(42, 6, 83, 0.578);
  }
   */
  /* Estilos específicos para telas menores que 1200px */
  /* @media (max-width: 1200px) {
    .word {
      font-size: 2.5em;
    }
    .carousel {
      height: 650px;
    }
    .carousel .carousel-item {
      width: 150px;
    }
    .carousel .carousel-item img {
      height: 260px;
    }
    .indicators {
      top: 1309px;
    }
    .card-title h3 {
      font-size: 20px;
    }
  } */
  
  /* Estilos específicos para telas menores que 500px */
  /* @media (max-width: 500px) {
    .word {
      font-size: 1.5em;
      padding-top: 0;
      text-shadow: none;
    }
    .carousel {
      height: auto;
    }
    .carousel .carousel-item {
      width: auto;
    }
    .carousel .carousel-item img {
      height: auto;
    }
    .indicators {
      top: 0;
    }
    .card-title h3 {
      font-size: 16px;
    }
  } */
  
