body {
  margin: 0;
  padding: 0;
  zoom: 100%;
}

.row.header {
  margin-bottom: 0 !important;
height: 100px;
margin-top: -5px;
}
.cor-nav{
  position: fixed; 

  z-index: 999999;
}
.dropdown-content {
  background-color: #fff;
  margin: 0;
  display: none;
  min-width: 100px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.tabs.tabs-transparent .indicator {
  background-color: #7f0ca1;
}
.tabs.tabs-transparent {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.122), transparent);
}
.tabs .tab a {
  margin-top: 4%;
}
.material-icons {
  background: linear-gradient(
    to bottom,
    rgb(36, 4, 78),
    rgb(81, 23, 98),
    rgba(131, 60, 157, 0.212),
    transparent
  );
  background-clip: border-box;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 180px;
  color: transparent;
}
@media (min-width: 1201px) {
  #apresentar{
    background-image: linear-gradient(
      to right,
      rgba(6, 5, 105, 0),
      rgba(1, 4, 13, 0.87)
    ),
    url("https://img.freepik.com/fotos-premium/linhas-de-conexao-ao-redor-da-ilustracao-3d-do-plano-de-fundo-da-conectividade-internacional-global-do-globo-terrestre_89681-46.jpg");
  background-size: cover;
  background-position: center;
  }
  #autocomplete-input {
    font-size: 25px;
  }
  
.row.header {
  height: 110px;
}
h
  nav .sidenav-trigger i {
    height: 56px;
    line-height: 56px;
    margin-top: 9px;
    font-size: 50px;
    margin-right: -25px;
  }
  .cor-nav {
    padding-top: 19px;
  }
  nav.nav-extended {
    height: 130px;
  }
  /* Aumente a altura dos elementos internos conforme desejado */
  .brand-logo {
    height: 100px;
    width: 150px;
    margin-left: 0px;
  }
  #nav-mobile {
    padding-right: 0px;
    margin-top: 10px;
    height: 10px;
    margin-right: 15px;
  }
  .links-nav a {
    font-size: 20px;
    margin-right: 10px;
    margin-top: 10px;
  }

  nav .input-field {
    margin: 0;
    margin-top: 0px;
    height: 100%;
    margin-top: 12px;
  }
  input[type="text"] {
    font-size: 300px; /* Ajuste o tamanho da fonte conforme necessário */
  }

  .btn-login {
    font-size: 20px;
    height: 60px;
    margin-top: 10px;
    margin-left: 2px;
  }
  .btn-cria {
    font-size: 20px;
    height: 60px;
    margin-top: 10px;
    margin-left: 2px;
  }
  /* fim da header */

  /* section one */
  #container-sec-one {
    height: 500px;
    margin-bottom: 0;

    .word {
      padding-left: 12%;
      padding-top: 19%;
      color: #ffffff;
      font: 90 normal 4em/1.5 "Montserrat", sans-serif;
      text-shadow: 1px 1px 2px rgba(53, 8, 104, 0.5),
        2px 2px 4px rgba(42, 6, 83, 0.5), 3px 3px 6px rgba(42, 6, 83, 0.5),
        4px 4px 8px rgba(42, 6, 83, 0.5), 5px 5px 10px rgba(42, 6, 83, 0.578);
    }
    .carousel {
      width: 50%;
      height: 110%;
      perspective: 450px;
      margin: 0 20px 0 20px;
    }
    .carousel .carousel-item {
      width: 240px;
      top: -120px;
      background-size: cover;
    }
    .carousel .carousel-item img {
      width: 100%;
      height: 260px;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }
    .indicators {
      top: 400px;
      left: 14px;
    }
    .carousel .indicators .indicator-item.active {
      background-color: #6c0583;
    }
    .carousel .indicators .indicator-item {
      height: 16px;
      width: 16px;
    }
    .card-title {
      height: 45%;
      background: linear-gradient(to right, #0c1254, #640083);
      color: white;
      border-bottom-right-radius: 40%;
      overflow: hidden;
      text-align: center;
    }
    .card-title h3 {
      font-size: 20px;
      margin-top: 10px;
      padding: 5%;
    }
    /* section dois */
  }

  .section-two {
    margin: auto;
  }

  /* footer */
  .inf-footer {
    font-size: 30px;
  }
  .inf-footer p {
    font-size: 20px;
  }
  .text-footer {
    font-size: 20px;
  }
  .footer-copyright {
    font-size: 14px;
  }
  #search-button {
    background: none; /* Remove o background */
    border: none; /* Remove a borda, se houver */
    outline: none; /* Remove o contorno, se houver */
    margin-top: 20px; /*  Aplicar margem para baixo */
  }
  #search-button svg {
    width: 40px; /* Ajuste a largura desejada */
    height: 40px; /* Ajuste a altura desejada */
  }
}

@media screen and (max-width: 1200px) {
  #form_pesquisa {
    width: 100vw;
    max-width: 80%;
    position: relative;
    top: 25px;
    right: 0;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .search-area {
    background-color: rgba(5, 4, 4, 0.972);
    height: 80px;
    padding-bottom: 20px;
    min-height: 45px;
    top: 10vh;
    display: flex;
    align-items: center;
    position: fixed;
    color: white;
    z-index: 9999;
    right: 0;
    margin-left: 6%;
  }
  .input-field {
    flex-grow: 1;
    margin: 0;
    margin-left: 45%;
  }
  #autocomplete-input {
    font-size: 23px;
  }
  .word {
    padding-left: 10%;
    padding-top: 20%;
    font: 90 normal 3em/1.5 "Montserrat", sans-serif;
  }
  .carousel {
    width: 55%;
    height: 400px;
    perspective: 300px;
  }
  .carousel .carousel-item {
    width: 200px;
    height: 250px;
  }
  .carousel .carousel-item img {
    width: 100%;
    height: 85%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  .indicators {
    top: 350px;
    right: 10px;
  }
  .carousel .indicators .indicator-item {
    height: 6px;
    width: 6px;
  }
  .carousel .indicators .indicator-item.active {
    background-color: #6c0583;
  }
  .card-title {
    height: 25%;
    background: linear-gradient(to right, #0c1254, #640083);
    color: white;
    border-bottom-right-radius: 40%;
    overflow: hidden;
    text-align: center;
  }
  .card-title h3 {
    font-size: 15px;
    margin-top: 5px;
    padding: 5%;
  }
  .cor-nav {
    padding-top: 17px;
  }
  nav.nav-extended {
    height: 110px;
  }

  .brand-logo {
    height: 80px;
    width: 110px;
    margin-left: 0px;
    margin-top: 0;
  }
  nav .brand-logo.left {
    left: 0rem;
  }
  .links-nav a {
    font-size: 18px;
    margin-right: 5px;
    margin-top: 10px;
  }
  #search-button {
    background: none; /* Remove o background */
    border: none; /* Remove a borda, se houver */
    outline: none; /* Remove o contorno, se houver */
    margin-top: 20px; /*  Aplicar margem para baixo */
  }
  #search-button svg {
    width: 35px; /* Ajuste a largura desejada */
    height: 35px; /* Ajuste a altura desejada */
  }

  nav,
  nav .nav-wrapper i,
  nav a.sidenav-trigger,
  nav a.sidenav-trigger i {
    height: 54px;
    line-height: 54px;
  }

  .btn-login {
    font-size: 20px;
    height: 50px;
    margin-top: 15px;
  }
  .btn-cria {
    font-size: 20px;
    height: 50px;
    margin-top: 15px;
  }
  .page-footer {
    font-size: 2px;
  }
  #autocomplete-input {
    border: none;
    border-bottom: 1px solid #ffffff;
    vertical-align: middle;
    height: 100%;
    min-height: 35px;
    color: #fff;
    font-size: 21px;
  }
}
@media (max-width: 1050px) {
  #form_pesquisa {
    top: 20px;
  }
  #search-area{
    top: 10px;
  }
  #autocomplete-input {
    border: none;
    border-bottom: 1px solid #ffffff;
    vertical-align: middle;
    height: 100%;
    min-height: 35px;
    color: #fff;
    font-size: 20px;
  }
  .input-field {
    flex-grow: 1;
    margin: 0;
    margin-left: 35%;
    margin-right: 0%;
  }
  .btn-cria {
    font-size: 20px;
    height: 45px;
    margin-top: 20px;
  }
  .btn-login {
    font-size: 20px;
    height: 45px;
    margin-top: 20px;
  }
  .cor-nav {
    padding-top: 17px;
    margin-top: 0;
  }
  nav.nav-extended {
    height: 100px;
  }
  .links-nav a {
    font-size: 19px;
    margin-right: 0px;
    margin-top: 10px;
  }
}
@media (max-width: 992px) {
  #form_pesquisa {
    top: 2vh;
  }
  .search-area{
    top:14vh;
  }
  nav.nav-extended {
    height: 145px;
  }
  #librasButton {
    top: 44%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
  }

  .tabs .tab a {
    font-size: 20px;
  }
  #section-three {
    background: linear-gradient(
      to bottom,
      black,
      black,
      black,
      rgb(2, 2, 41),
      black
    );
    padding-top: 1px;

    .video-podcast {
      height: 25em;
    }
  }
}
@media (max-width: 710px) {
  #form_pesquisa {
    top: 7vh;
  }
  .search-area{
    top:13vh;
    padding-top: 25px;
    padding-bottom: 0px;
  }
  #autocomplete-input {
    font-size: 18px;
  }
  .input-field {
    margin-left: 25%;
  }
  #form_pesquisa{
    top: 1px;
  }
  nav.nav-extended {
    height: 140px;
    padding-bottom: 0px !important;
  }
  .tabs .tab a {
    margin-top: 4%;
    font-size: 15px;
  }
  .brand-logo {
    height: 65px;
    width: 70px;
  }
  nav .sidenav-trigger i {
    height: 80px;
    line-height: 55px;
    font-size: 40px;
    margin-right: -20px;
    margin-top: 1px;
  }
  .btn-cria,
  .btn-login {
    font-size: 15px;
    height: 35px;
    margin-top: 10;
    padding: 10px;
    margin-right: 0px;
  }
  .btns a {
    display: flex;
    gap: 20px;
  }
  nav ul a {
    padding: 0 5px;
  }
  nav {
    color: #fff;
    line-height: 50px;
  }

  #search-button {
    background: none; /* Remove o background */
    border: none; /* Remove a borda, se houver */
    outline: none; /* Remove o contorno, se houver */
    margin-top: 20px; /*  Aplicar margem para baixo */
  }
  #search-button svg {
    width: 40px; /* Ajuste a largura desejada */
  }
}
@media (max-width: 600px) {
  #form_pesquisa {
    top: 5vh;
  }
  .search-area{
    top:12vh;
    padding-top: 25px;
    padding-bottom: 80px;
  }
  #autocomplete-input {
    font-size: 17px;
  }
  .input-field {
    margin-left: 45%;
  }
  #apresentar{
      background-image: linear-gradient(
      to right,
      rgba(6, 5, 105, 0),
      rgba(1, 4, 13, 0.87)
    ),
    url("/img/Pasta_home_img/Rectangle 19.png");
  background-size: cover;
  background-position: center;
  }
  .word {
    text-align: center;
    padding-left: 0;
    padding-top: 10%;
    height: 10vh;
    font: 90 normal 1.9em/1.5 "Montserrat", sans-serif;
  }
  /* carousel */
  .carousel {
    width: 100%;
    height: 400px;
    perspective: 100;
  }
  .carousel .carousel-item {
    width: 220px;
    height: 260px;
    top: -40px;
  }
  .carousel .carousel-item img {
    width: 100%;
    height: 90%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  .indicators {
    top: 330px;
    right: 16px;
  }
  .carousel .indicators .indicator-item {
    height: 13px;
    width: 13px;
  }
  .carousel .indicators .indicator-item.active {
    background-color: #6c0583;
  }
  .card-title {
    height: 25%;
    background: linear-gradient(to right, #0c1254, #640083);
    color: white;
    border-bottom-right-radius: 40%;
    overflow: hidden;
    text-align: center;
  }
  .card-title h3 {
    font-size: 15px;
    margin-top: 5px;
    padding: 5%;
  }
  .input-field {
    margin-left: 15%;
  }
  nav.nav-extended {
    height: 129px;
  }
  .brand-logo {
    bottom: 1px;
  }
  #search-button {
    background: none; /* Remove o background */
    border: none; /* Remove a borda, se houver */
    outline: none; /* Remove o contorno, se houver */
    margin-top: 10px; /*  Aplicar margem para baixo */
  }
  #search-button svg {
    width: 25px; /* Ajuste a largura desejada */
  }
  .btn-cria,
  .btn-login {
    font-size: 15px;
    height: 32px;
    margin-top: 1rem;
    padding: 10px;
  }
  nav .sidenav-trigger i {
    height: 80px;
    line-height: 65px;
    font-size: 50px;
    margin-right: -20px;
    margin-top: 3px;
  }
  #search-button {
    margin-right: -0px;
  }
     /* cultura */
     .cultura{
      text-align: center;
      #tittle-cultura{
        margin: 0 10px;
        border-bottom: 0.2em solid rgb(27, 3, 44);
        background: linear-gradient(to right,rgb(6, 6, 130),purple);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
    }
    .button-seeMore-cultura{
      display: flex;
      justify-content: center;
      margin: -20px 20px 20px 20px;
      border-bottom: 2px solid rgb(27, 3, 44);
      a{
        background: linear-gradient( to bottom,rgb(147, 30, 171),rgb(79, 30, 140),rgb(12, 13, 50));
        padding: 40px;
        font-size: 17px;
        color: white;
        border-radius: 10px;
        margin: 10px;
      }
    }
  /* LAST news */
  .last-news {
    margin-top: 0;
    #tittle-section {
      font-size: 2rem;
      line-height: 120%;
      margin: 0 0 0 0em;
      padding-left: 0.3em;
    }
    #tittle-section {
      height: 37px;
    }
    #librasButton {
      top: 44%;
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
    }
    
    .page-footer {
      line-height: 1.1;
    }
    .inf-footer {
      font-size: 20px;
    }
    .text-footer {
      font-size: 0.6em;
    }
    .quem-somos {
      font-size: 0.7em;
      line-height: 1em;
      margin-top: 2.1em;
    }
    .copyright {
      font-size: 10px;
    }
    .termos {
      font-size: 10px;
    }
  }
  @media (max-width: 450px) {
    #form_pesquisa {
      top: vh;
    }
    #search-in-button .material-icons {
      font-size: 30px;
    }
    .search-area{
      top:9vh;
      padding-top: 25px;
      padding-bottom: 0px;
    }
    #autocomplete-input {
      font-size: 20px;
      width: 55vw;
    }
    .input-field {
    }
    #form_pesquisa{
      top: 1px;
    }
    .row.header {
      height: 70px;
      margin-top: -5px;
      }
    .word {
      text-align: center;
      padding-left: 0;
      padding-top: 5%;
      height: 70px;
      font: 90 normal 1.7em/1.5 "Montserrat", sans-serif;
  
    }
    /* carousel */
    .carousel {
      width: 100%;
      height: 400px;
      perspective: 300px;
    }
    .carousel .carousel-item {
      width: 200px;
      height: 255px;
      top: -25px;
    }
    .carousel .carousel-item img {
      width: 100%;
      height: 90%;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }
    .indicators {
      top: 340px;
      right: 17px;
    }
    .carousel .indicators .indicator-item {
      height: 13px;
      width: 13px;
    }
    .carousel .indicators .indicator-item.active {
      background-color: #6c0583;
    }
    .card-title {
      height: 25%;
      background: linear-gradient(to right, #0c1254, #640083);
      color: white;
      border-bottom-right-radius: 40%;
      overflow: hidden;
      text-align: center;
    }
    .card-title h3 {
      font-size: 15px;
      margin-top: 5px;
      padding: 5%;
    }
    #autocomplete-input {
      font-size: 19px;
    }
    .input-field {
      margin-left: -30px;
    }
    #search-button {
      margin-top: 8px; /*  Aplicar margem para baixo */
    }
    #search-button svg {
      width: 25px; /* Ajuste a largura desejada */
    }
    .tabs {
      display: none;
    }
    nav.nav-extended {
      height: 78px;
    }
    .brand-logo {
      height: 55px;
      width: 70px;
    }
    nav .sidenav-trigger i {
      height: 80px;
      line-height: 65px;
      font-size: 40px;
      margin-right: -20px;
    }
    .btn-cria,
    .btn-login {
      font-size: 16px;
      height: 8;
      margin-top: 14px;
      padding: 5px;
    }
    #search-button {
      margin-top: 10px;
    }
    nav ul a {
      padding: 0 5px;
    }
    nav {
      color: #fff;
      line-height: 50px;
    }
    /* pesquisa */
    #search-area{
      top: 10px;
    }
    #search-in-button .material-icons {
      font-size: 50px;
    }
    #autocomplete-input{
      font-size: 15px;
    }
    .input-field{
      flex-grow: 1; margin: 0; margin-left: 10%; margin-right: 0%;
    }
       /* cultura */
   .cultura{
    text-align: center;
    #tittle-cultura{
      margin: 0 10px;
      border-bottom: 0.2em solid rgb(27, 3, 44);
      background: linear-gradient(to right,rgb(6, 6, 130),purple);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }
  .button-seeMore-cultura{
    display: flex;
    justify-content: center;
    margin: -20px 20px 20px 20px;
    border-bottom: 2px solid rgb(27, 3, 44);
    a{
      background: linear-gradient( to bottom,rgb(147, 30, 171),rgb(79, 30, 140),rgb(12, 13, 50));
      padding: 40px;
      font-size: 17px;
      color: white;
      border-radius: 10px;
      margin: 10px;
    }
  }
    /* LAST news */
    .last-news {
      margin-top: 0;
      #tittle-section {
        font-size: 1.8rem;
        line-height: 120%;
        margin: 0 0 0 0.4em;
        padding-left: 0.3em;
      }
      #tittle-section {
        height: 37px;
      }
      .card {
        width: 100%; /* Defina a largura desejada para dois cards na mesma linha */
        margin: 1%; /* Adicione margem para espaçamento entre os cards */
      }
      .card-content {
        padding: 0;
      }
      .card-conteudo {
        background: rgb(2, 1, 8);
      }
      .card-title {
        font-size: 0.9rem; /* Tamanho do título do card */
        margin: 0;
        background: rgb(2, 1, 8);
        border-radius: 0;
        white-space: normal;
      }
      .card .card-content .responsive-img {
        height: 11em;
      }
      .card .card-content .card-title {
        line-height: 1em;
        text-align: start;
      }
      .card .card-content p {
        font-size: 0.7em;
        color: rgb(155, 153, 153);
        margin: 0 0 9px 0;
        padding: 0;
      }
      .card .card-content .autor-noticia {
        color: white;
        font-size: 0.7em;
        width: 130%;
      }
      .card .card-content .data-noticia {
        color: rgba(255, 255, 255, 0.813);
        font-size: 0.7em;
        margin-left: 10px;
      }

      .button-seeMore-lastNews {
        background: linear-gradient(
          to bottom,
          rgb(147, 30, 171),
          rgb(79, 30, 140),
          rgb(12, 13, 50)
        );
        text-decoration: none;
        list-style: none;
        border-radius: 10px;
        padding: 5px;
        font-size: 1em;
        width: 100px;
        margin-top: 0;
      }
      .button-seeMore-lastNews div a {
        color: white;
        margin-left: 10px;
      }
    }
    #librasButton {
      top: 44%;
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
    }
  
    .page-footer {
      line-height: 1.1;
    }
    .inf-footer {
      font-size: 20px;
    }
    .text-footer {
      font-size: 0.6em;
    }
    .quem-somos {
      font-size: 0.7em;
      line-height: 1em;
      margin-top: 2.1em;
    }
    .copyright {
      font-size: 10px;
    }
    .termos {
      font-size: 10px;
    }
  }
  @media (max-width: 395px) {
    #form_pesquisa {
      top: 5vh;
    }
    .search-area{
      top:7vh;
      padding-top: 10px;
      padding-bottom: 0px;
    }
    #autocomplete-input {
      font-size: 17px;
    }
    .input-field {
      margin-left: 45%;
    }
    #form_pesquisa{
      top: 1px;
    }
  
    .row.header {
    height: 75px;
    margin-top: -15px;
    }
    .word {
      text-align: center;
      padding-left: 0;
      padding-top: 5%;
      height: 60px;
      font: 90 normal 1.5em/1.5 "Montserrat", sans-serif;
      border-bottom: 1px solid rgba(255, 255, 255, 0.429);
    }
    /* carousel */
    .carousel {
      width: 100%;
      height: 400px;
      perspective: 330px;
    }
    .carousel .carousel-item {
      width: 200px;
      height: 250px;
      top: -40px;
    }
    .carousel .carousel-item img {
      width: 100%;
      height: 85%;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }
    .indicators {
      top: 320px;
      right: 10px;
    }
    .carousel .indicators .indicator-item {
      height: 13px;
      width: 13px;
    }
    .carousel .indicators .indicator-item.active {
      background-color: #6c0583;
    }
    .card-title {
      height: 25%;
      background: linear-gradient(to right, #0c1254, #640083);
      color: white;
      border-bottom-right-radius: 40%;
      overflow: hidden;
      text-align: center;
    }
    .card-title h3 {
      font-size: 15px;
      margin-top: 5px;
      padding: 5%;
    }
    .btn-cria,
    .btn-login {
      font-size: 12px;
      height: 7;
      margin-top: 13px;
      padding: 5px;
    }
       /* cultura */
   .cultura{
    text-align: center;
    #tittle-cultura{
      margin: 0 10px;
      border-bottom: 0.2em solid rgb(27, 3, 44);
      background: linear-gradient(to right,rgb(6, 6, 130),purple);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }
  .button-seeMore-cultura{
    display: flex;
    justify-content: center;
    margin: -20px 20px 20px 20px;
    border-bottom: 2px solid rgb(27, 3, 44);
    a{
      background: linear-gradient( to bottom,rgb(147, 30, 171),rgb(79, 30, 140),rgb(12, 13, 50));
      padding: 40px;
      font-size: 17px;
      color: white;
      border-radius: 10px;
      margin: 10px;
    }
  }
    /* LAST news */
    .last-news {
      margin-top: 0;
      #tittle-section {
        color: white;
        font-size: 1.8rem;
        line-height: 110%;
        margin: 0 0 0 0.4em;
        border-left: 1px solid violet;
        padding-left: 0.3em;
      }
      .card {
        width: 100%; /* Defina a largura desejada para dois cards na mesma linha */
        margin: 1%; /* Adicione margem para espaçamento entre os cards */
      }
      .card-content {
        padding: 0;
      }
      .card-conteudo {
        background: rgb(6, 6, 19);
      }
      .card-title {
        font-size: 0.9rem; /* Tamanho do título do card */
        margin: 0;
        background: rgb(6, 6, 19);
        border-radius: 0;
        white-space: normal;
      }
      .card .card-content .responsive-img {
        height: 11em;
      }
      .card .card-content .card-title {
        line-height: 1em;
        text-align: start;
      }
      .card .card-content p {
        font-size: 0.7em;
        color: rgb(155, 153, 153);
        margin: 0 0 9px 0;
        padding: 0;
      }
      .card .card-content .autor-noticia {
        color: white;
        font-size: 0.7em;
        width: 130%;
      }
      .card .card-content .data-noticia {
        color: rgba(255, 255, 255, 0.813);
        font-size: 0.7em;
        margin-left: 10px;
      }

      .button-seeMore-lastNews {
        background: linear-gradient(
          to bottom,
          rgb(147, 30, 171),
          rgb(79, 30, 140),
          rgb(12, 13, 50)
        );
        text-decoration: none;
        list-style: none;
        border-radius: 10px;
        padding: 5px;
        font-size: 1em;
        width: 100px;
        margin-top: 0;
      }
      .button-seeMore-lastNews div a {
        color: white;
        margin-left: 10px;
      }
    }
    #librasButton {
      top: 44%;
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
    }
    .page-footer {
      line-height: 1.1;
    }
    .inf-footer {
      font-size: 20px;
    }
    .text-footer {
      font-size: 0.6em;
    }
    .quem-somos {
      font-size: 0.7em;
      line-height: 1em;
      margin-top: 2.1em;
    }
    .copyright {
      font-size: 10px;
    }
    .termos {
      font-size: 10px;
    }
  }
  @media (max-width: 360px) {
    html {
      max-width: 360px;
    }
    .word {
      height: 60px;
      font: 90 normal 1.3em/1.5 "Montserrat", sans-serif;
      border-bottom: 1px solid rgba(255, 255, 255, 0.429);
    }
    .carousel {
      width: 100%;
      height: 400px;
      perspective: 200px;
    }
    .btn-login,
    .btn-cria {
      display: none;
    }
    #search-button {
      margin-right: -50px;
    }
    #autocomplete-input {
      font-size: 17px;
    }
    /* Podcasts */
    #section-three {
      #tittle-section {
        color: white;
        font-size: 1.3rem;
        height: 26px;
        margin: 0 0 0.8em 0.6em;
        border-left: 1px solid violet;
        padding-left: 0.3em;
        h2 {
          font-size: 1.3em;
        }
      }
    }
    /* cultura */
    .cultura{
      text-align: center;
      #tittle-cultura{
        margin: 0 10px;
        border-bottom: 0.2em solid rgb(27, 3, 44);
        background: linear-gradient(to right,rgb(6, 6, 130),purple);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
    }
    .button-seeMore-cultura{
      display: flex;
      justify-content: center;
      margin: -20px 20px 20px 20px;
      border-bottom: 2px solid rgb(27, 3, 44);
      a{
        background: linear-gradient( to bottom,rgb(147, 30, 171),rgb(79, 30, 140),rgb(12, 13, 50));
        padding: 40px;
        font-size: 17px;
        color: white;
        border-radius: 10px;
        margin: 10px;
      }
    }
    /* LAsr news */
    .last-news {
      #tittle-section {
        color: white;
        font-size: 1.5rem;
        line-height: 100%;
        height: 26px;
        margin: 0 0 0 0em;
        border-left: 1px solid violet;
        padding-left: 0.3em;
      }
      .card {
        width: 100%; /* Defina a largura desejada para dois cards na mesma linha */
        margin: 1%; /* Adicione margem para espaçamento entre os cards */
      }
      .card-content {
        padding: 0;
      }
      .card-conteudo {
        background: rgb(6, 6, 18);
      }
      .card-title {
        font-size: 0.9rem; /* Tamanho do título do card */
        margin: 0;
        background: rgb(6, 6, 18);
        border-radius: 0;
        white-space: normal;
      }
      .card .card-content .card-title {
        line-height: 1em;
        text-align: start;
      }
      p {
        font-size: 0.7em;
        color: gray;
        margin: 0;
        padding: 0;
      }
    }
  }
  #librasButton {
    top: 44%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
  }
 
  .page-footer {
    line-height: 1.1;
  }
  .inf-footer {
    font-size: 20px;
  }
  .text-footer {
    font-size: 0.6em;
  }
  .quem-somos {
    font-size: 0.7em;
    line-height: 1em;
    margin-top: 2.1em;
  }
  .copyright {
    font-size: 10px;
  }
  .termos {
    font-size: 10px;
  }
}
