@media (min-width: 992px) {
  #section-one{
    background-color: rgb(2, 1, 8);
    padding-top: 1px;
    padding-bottom: 2px;
  }
    .last-news{
        margin: 0px;
        padding: 20px;
        padding-bottom: 0;
        margin-top: -20px;
        background-color: rgb(2, 1, 8);
        
    }
    #tittle-lastNews{
        color: white;
        border-left: 2px solid violet;
        padding-left: 10px;
        height: 60px;
        margin-top: 10px;
    }
    .ultimas-noticias {
         
        .texto-evento {
          margin-top: 2px;}
          h6{
            color: rgb(255, 255, 255);
          }
        p{
          color: rgb(203, 197, 197);
          padding-bottom: 10px;
        }
  
        .card,.card-content{
           border-radius: 50px;
        }
        .card .card-content {
          padding: 8px;
          border-radius: 0 0 2px 2px;
          padding-bottom: 0;
          background-color: rgb(2, 1, 26);
          border: none;
        }
        .autor-evento,.data-evento{
          color: rgb(255, 255, 255);
        }
      }
}