/* Importando a fonte Montserrat */
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

/* Estilos gerais */


body {
  background-color: rgb(1, 1, 11); 
}
#section-one{
background: linear-gradient(to bottom,black,blue);
}  
#apresentar{
  background: linear-gradient(to bottom,rgba(0, 0, 0, 0.927),rgb(0, 0, 0));
  border-bottom: 0.1em solid rgba(242, 242, 242, 0.498);
}
#section-three {
  background: linear-gradient(to bottom,black,black,black,rgb(2, 2, 41),black);
  padding-top: 1px;
  .video-podcast{
    height: 33em;
  }
}
#tittle-section{
  color: white;
  border-left: 2px solid violet;
  padding-left: 10px;
  height: 60px;
  margin-top: 10px;
}
  .last-news{
    margin: 0px;
    padding: 20px;
    margin-top: -20px;
    background-color: rgb(2, 1, 8);
    
}
/* Estilos para o botão de pesquisa */
#search-in-button{
  background: none; border: none; outline: none; margin-top: 3px; border-left: 1px solid rgb(56, 31, 100);
}

/* Estilos para o ícone do botão de pesquisa */
#search-in-button .material-icons {
  font-size: 40px;

}

/* Estilos para o botão de cancelar */
#cancel-button {
  background: none;
  border: none;
  outline: none;
}

/* Estilos para o ícone do botão de cancelar */
#cancel-button .material-icons {
  font-size: 30px;
  background-color: red;
}

/* Estilos para a área de pesquisa */
.search-area {
  background-color: rgba(6, 6, 6, 0.941); height:50px;padding-bottom:20px; min-height: 45px;top: -5px; display: flex; align-items: center; position: relative; color:white
}

/* Estilos para o campo de pesquisa */
#autocomplete-input {
  border: none; border-bottom: 1px solid #460d80; vertical-align: middle; height: 100%; min-height: 35px; color: #fff
}
.input-field{
  flex-grow: 1; margin: 0; margin-left: 45%; margin-right: 0%;
}
#form_pesquisa{
  width: 80%; max-width: 80%; position: absolute; top: 5px; right: 0; z-index: 999; display: flex; align-items: center; justify-content: flex-end
}
.sidenav{
  background-color: #01010be1;
 
}
/* Remover a borda de foco padrão */
a:focus {
  outline: none;
}


.sidenav li > a {
  color: rgba(245, 245, 245, 0.835);
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
}
.page-footer {
  padding-top: 20px;
  color: #e8eaf6;
  background-color: #01010b;

}

.topButton {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 1000;
  opacity: 0.6;
}

/* Estilos da seção "show" */
#section-noticias {
  background: rgb(6, 6, 18); 
  padding-top: 0px;
}
.ultimas-noticias{
  margin-bottom:0px
}
#container-section-init {
  margin: 0;
  padding-top: 20px;
  background-image: linear-gradient(
      to right,
      rgba(6, 5, 105, 0),
      rgba(1, 4, 13, 0.87)
    ),
    url("https://img.freepik.com/fotos-premium/linhas-de-conexao-ao-redor-da-ilustracao-3d-do-plano-de-fundo-da-conectividade-internacional-global-do-globo-terrestre_89681-46.jpg");
  background-size: cover;
  background-position: center;
}

/* Estilos da classe "word" */
.word {
  padding-left: 20%;
  padding-top: 20%;
  color: #ffffff;
  font: 900 normal 3em/1.5 "Montserrat", sans-serif;
  text-shadow: 1px 1px 2px rgba(53, 8, 104, 0.5),
    2px 2px 4px rgba(42, 6, 83, 0.5), 3px 3px 6px rgba(42, 6, 83, 0.5),
    4px 4px 8px rgba(42, 6, 83, 0.5), 5px 5px 10px rgba(42, 6, 83, 0.578);
}

/* Animação de cores */
.animate {
  animation: colorAnimation 2s linear;
}

@keyframes colorAnimation {
  0%,
  50% {
    color: rgb(255, 255, 255); /* Branco */
  }
  25%,
  75% {
    color: #bebec0; /* Cinza */
  }
  100% {
    color: #ffffff; /* Branco */
  }
}
/* Estilos do botão de login */
a {
  list-style: none;
  text-decoration: none;
}
.button-seeMore {
  background: linear-gradient(
    to bottom,
    rgb(147, 30, 171),
    rgb(79, 30, 140),
    rgb(12, 13, 50)
  );
  text-decoration: none;
  list-style: none;
  border-radius: 10px;
  padding: 10px 10px;
  font-size: 30px;
  width: 200px;
  a {
    color: rgb(255, 255, 255);
  }
}
.btn-login {
  width: 110%;
  color: white;
  background: linear-gradient(to right, #00cc00, #009933);
  padding: 10px;
  background-size: 400% 100%;
  animation: texto 10s linear infinite;
  border: #009933;
  border-radius: 10px;
}
.btn-cria {
  width: 110%;
  color: white;
  background: linear-gradient(to right, #00cc00, #009933);
  padding: 10px;
  background-size: 400% 100%;
  animation: texto 10s linear infinite;
  border: #009933;
  border-radius: 10px;
}

@keyframes texto {
  0% {
    background-position-x: 400%;
  }
  100% {
    background-position: 0%;
  }
}

/* Estilos da barra de navegação "cor-nav" */
.cor-nav {
  background: linear-gradient(
    to bottom,
    #01030c,
    rgb(1, 4, 15),
    rgb(2, 5, 25),
    rgb(15, 7, 62)
  );
  padding: 10px;
}

/* Estilos do logo da marca */
.brand-logo {
  background-color: #281bb200;
  width: 10%;
  height: 80%;
  margin-top: 10px;
  margin-left: 4px;
}

/* Estilos da classe "actived" */
.actived {
  background: linear-gradient(to bottom, #0c125439, #64008341);
  border-radius: 1px;
}
.icons-footer {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding-bottom: 5%;
  padding-top: 10%;
}
.icons-footer img {
  width: 20%;
}
.text-footer {
  font-size: 40px;
}
#cpyright {
  font-size: 0px;
}
