*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header, footer{
    background-color: red;
}

.banner{
    background-color: blue;
    background-image: radial-gradient(#1F2563, #1B205B, #06062A);
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: whitesmoke;
}

.banner-conteudo{
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 70px;
}

.banner-conteudo h2{
    font-size: 3.3rem;
}

.banner-conteudo p{
    font-size: 1.2rem;
}

.filtrador{
    font-size: 1.2rem;
    width: 160px;
    display: flex;
    justify-content: space-between;
}
.filtrador label{
    font-size: 1.4em;
}
.select-wrapper input.select-dropdown {
    font-size: 1.5em;
    padding: 0 0.4em;
    margin-top: -6px;
    width: 200px !important;
}
.dropdown-content li>a, .dropdown-content li>span {
    font-size: 26px;
    color: #26a69a;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

.eventos{
    padding-left: 60px;
    padding-top: 30px;
    background-color: azure;
}

.card-evento{
    display: flex;
    margin: 30px 0;
    width: 100vw;
    max-width: 1100px;
    align-items: center;
}

.imagem-evento{
    width: 250px;
    height: 220px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-evento img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto-evento{
    width: 800px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 20px;
}

.texto-evento h1, .texto-evento p{
    padding-bottom: 10px;
}

.tiitle-eventos{
    background-image: linear-gradient(to bottom, #28156d , #2B26BF );
   font-size: 2.2em;
   margin-bottom: 0.2em;
  /* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
  background-clip: text;
  -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */

  /* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
  -webkit-text-fill-color: transparent;

  /* Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text` */
  color: black;
}

.texto-evento p{
    font-size: 17px;
    font-weight: lighter;
    line-height: 24px;
}

.filtros-evento{
    display: flex;
    width: 380px;
    justify-content: space-between;
    padding-top: 5px;
    gap: 10px;
}

.filtro-evento{
    border: 1px solid black;
    padding: 5px 15px;
    border-radius: 5px;
    background-image: linear-gradient(45deg, blue, darkblue, purple);
    color: white;
    width: 100%;
    text-align: center;
    font-weight: bolder;
}

.btn-eventos{
    text-align: center;
}

.btn-eventos button{
    background-color: aqua;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 1.2rem;
    margin-bottom: 4vh;
}

hr{
    width: 1100px;
}