.container-artigo{
    color: rgb(0, 0, 0);
    margin-top: 0px;
    background-color: white;
}
.titulo-artigo{
    color: rgb(0, 0, 0);
    font-size: 2.7em;
    margin-top: 40px;
}
.librasButton{
  background-color: rgb(106, 0, 255) !important;
  border-radius: 10px !important;
  width: 40px !important;
  height: 40px !important;
  top: 43% !important;
}
.topbtn{
 
  width: 40px !important;
  height: 40px !important;
  top: 90% !important;
}
.btn-floating.btn-large i {
  line-height: 26px;
}
#recursos{
  color: rgb(30, 28, 28); position: fixed;margin:30px 70px 0 50px; font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@keyframes slidein {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(0%);
  }
}
@keyframes slideout {
  from {
      transform: translateX(0%);
  }
  to {
      transform: translateX(100%);
  }
}
.slide-efect {
  transition: 3s ease;
  animation: slidein 4s ease; /* Ajuste o nome da animação aqui */
}
.slide-efect-out {
  transition: 3s ease;
  animation: slideout 4s ease; /* Ajuste o nome da animação aqui */
}
.artigo{
    background-color: white;
}
.acessibilidade{
    margin-top: 20px;
    padding: 0;
    /* background:linear-gradient(to right,rgb(1, 1, 11),rgb(9, 2, 37)); */
    background-color: rgb(254, 254, 254);
    height:1200px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease; /* Adiciona uma transição suave à opacidade */
    animation: slidein 0.2s linear;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border-left : 1px solid rgb(255, 255, 255);
}
.acessibilidade.slide-efect {
  opacity: 1;
  visibility: visible;
}
.theme a{
  color: white; position: fixed;margin: 310px 0 0 10px; background-color: transparent; padding: 5px 15px; width: 21%; border-radius: 10px; border: 2px solid rgb(48, 19, 123);  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
label {
  font-size: .9rem;
  color: #030101;
}
.option-libra a{
  color: rgb(8, 7, 7); position: fixed;margin: 230px 0 0 10px; background-color: transparent; padding: 18px; width: 21%; border-radius: 10px;border: 2px solid rgb(48, 19, 123);  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  font-size: 1.2em;
}
/* .size-font{} */
.img-artigo img{
    width: 98%;
    height: 400px;
}
.audio{
    margin-top: 140px;
    position: fixed;
    background-color:rgb(164, 164, 212);
    padding-top: 50px;
 
}
audio {
  display: inline-block;
  margin: 10px;
}

.adsAll{
    /* background-color: white; */
    background-color: black;
    background-color: transparent;
}
.ads1 {
    width: 90%;
    max-width: 400px; /* Define uma largura máxima para garantir responsividade */
    margin: 40px 0; /* Centraliza a publicidade na tela */
    border: 1px solid #ddd; /* Cor da borda */
    border-radius: 8px; /* Borda arredondada */
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 10px;
    background-color: white;
    
  }
  
  
  .ads1 img {
    width: 100%;
    height: 150px;
    display: block;
   
  }
  
  .ads1 span {
    display: block;
    background-color: #f4f4f4; /* Cor de fundo para o texto 'Publicidade' */
    color: rgb(80, 23, 118); /* Cor do texto */
    padding: 1px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
  }
  .icon-rede{
 width: 40px;
 height: 40px;
 margin-top: 23px;
  }
  .redes{
    display: flex;
    justify-content: space-around;
    
  }
  .select-wrapper .caret {

    fill: rgba(253, 253, 253, 0.87);
}

@media (max-width:600px){
  .container-mobile{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
  }
  .img-artigo img{
    width: 98%;
    height: 300px;
}
.icon-rede{
  width: 26px;
  height: 30px;
  margin-top: 23px;
  margin-right: 4px;
   }
   .titulo-artigo{
    color: rgb(0, 0, 0);
    font-size: 2.3em;
    margin-top: 40px;
}
.inf-art{
  font-size: 1.1em;
}
}