* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
/* styles.css */
body{
  background: linear-gradient(to bottom,black,rgb(1, 1, 11));
}
.select-wrapper input.select-dropdown {
  color: rgb(243, 243, 243);
}
.input-field.col label {
  left: 0.5rem;
}
.dropdown-content li>a, .dropdown-content li>span {
  font-size: 20px;
  color: rgb(93, 21, 117);
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}
.custom-row {
  margin: 60px;
  margin-bottom: 0;
  padding: 50px;
  display: flex;
  justify-content: center;
  gap: 1%;
  background-color: transparent;
};
#section-three {
  background: linear-gradient(to bottom, black, black, rgb(2, 2, 41), rgb(1, 2, 9));
  padding-top: 1px;
}

/* Banner */
.banner {

  background-image: radial-gradient(#701793, #2a0340, #010014);
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: whitesmoke !important;
}

.banner-conteudo {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 90px;
}

.banner-conteudo h2 {
  font-size: 4rem;
  color: white;
}

.banner-conteudo p {
  font-size: 1.2rem;
}

/* Fim do Banner */

/*Video principal ou inicial*/

#tittle-podcast{ /*Deixando o titulo do video principal degradê*/
    background: linear-gradient(to right, rgb(36, 4, 78), rgb(151, 40, 182),violet, rgb(185, 83, 222));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; /* Torna o texto transparente */
    border-left: 3px solid rgb(229, 229, 229);
    height: 60px;
    padding-left: 10px;
    padding-bottom: 18px;
}

/*.video-inicial{
  background-color: transparent;
} */

.video-inicial > .titulo-inicial{
  max-width: 1120px;
  margin: 0 auto;
}

/* Vídeo principal ou inicial sendo responsivo*/

.video-principal{
  max-width: 1025px;
  margin: 0 auto;
}

.video{
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56%;
}

.video > iframe{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* textos e botões que ficam abaixo do vídeo principal ou inicial*/

.video-inicial > .texto-inicial{
  padding-top: 15px;
  color: white;
  max-width: 1025px;
  margin: 0 auto;
  font-size: 20px;
}

.video-inicial .detalhes-inicial{
  color: rgba(255, 255, 255, 0.575);
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0;
}

/*Fim do bloco do vídeo principal ou iniclal*/

/*Bloco com todas os cards de podcasts*/

.podcasts{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  padding: 30px 0;
  justify-content: center; /* centraliza os cards na horizontal */
  width: 100%;
  margin: 0;
}

.podcast:hover{
  transform: scale(1.05);
  transition: transform 0.5s;
}

/*Fim do bloco do vídeo principal ou iniclal*/

/*Filtros de pesquisa */

.input-field{
  margin-left: 90px;
  margin-top: 60px;
  width: 22%;
}

/*Filtros de pesquisa */

/* Card de cada podcast*/

.podcast{
  background: linear-gradient(to right, rgba(34, 7, 73, 0.824), rgba(78, 17, 159, 0.824));;
  width: 340px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 25px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px ;
  border-bottom-right-radius: 10px;
}

.podcast-video{
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 10px;
  background-image: url('../../img/Pasta_home_img/tumbrl-podcast.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.podcast-texto{
  height: 190px;
  padding: 24px;
  color: rgb(190, 191, 194);
}

.podcast-texto h3{
  font-size: 23px;
  margin: 0;
  padding-bottom: 12px;
  color: rgb(255, 255, 255);
}

.podcast-texto p{
  padding-bottom: 10px;
}

.podcast-texto .data{
  color: rgb(255, 255, 255);
}

.podcast-btn{
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.podcast-btn button{
  font-size: 20px;
  width: 100%;
  height: 100%;
  border: none;
}

.podcast-btn button:hover{
  cursor: pointer;
}

/* Fim do bloco dos Cards de cada podcast*/

/* Botão que fica abaixo do bloco dos podcasts*/

.seta{
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-bottom: 60px;
}

/* Fim do bloco que tem o botão que fica abaixo do bloco dos podcasts*/

/* Parallax */

.parallax-container{
  background-color: blue;
  background-image: url("../../img/Pasta_home_img/parallaxx.png");
  background-position: left center;
  background-size: cover;
  background-attachment: fixed;
  height: 400px;
}

/* Responsivo para Computador com o minimo de 1024px */
@media screen and (min-width: 1024px){

  #resumo-assitir-podcast{
    width: 88%;
    padding: 1em 0.7em;
  }
}

/* Responsivo para tablet com o minimo de 767px e com máximo de 1023px */
@media screen and (min-width: 767px) and (max-width: 1023px){
  .podcasts{
    flex-grow: 1;
    justify-content: space-evenly;
    gap: 25px;
    padding: 15px;
  }

  .banner-conteudo{
    padding-left: 70px;
  }

  #resumo-assitir-podcast{
    width: 100%;
    padding: 1em 0.1em;
    font-size: 16px;
  }

  .video-principal{
    max-width: 700px;
    margin: 0 auto;
  }

  #tittle-podcast{
    margin-left: 5rem;
  }

  .video-inicial > .texto-inicial{
    max-width: 700px; 
  }

  .seta{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .input-field{
    margin-left: 40px;
    margin-top:60px;
    width: 40%;
  }
  
}

/* Responsivo para Mobile com o máximo de 767px */
@media screen and (max-width: 767px){

  .banner{
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .banner-conteudo{
    padding-left: 0;
    text-align: center;
    width: 300px;
    height: 8.5rem;
  }

  .banner-conteudo h2{
    margin: 0;
  }

  .nav-two{
    display: none;
  }

  nav.nav-extended{
    height: 0;
  }

  #tittle-podcast{ /*Deixando o titulo do video principal degradê*/
    padding-left: 10px;
    padding-bottom: 18px;
    font-size: 2rem;
    margin-left: 18px;
    padding-left: 20px;
    display: flex;
    align-items: center;
  }

  .video-principal{
    max-width: 400px;
  }

  .video-inicial > .texto-inicial{
    padding-top: 15px;
    max-width: 400px;
    font-size: 20px;
  }

  .video-inicial .detalhes-inicial{
    max-width: 400px;
    width: 80%;
    padding: 10px 0;
  }

  .input-field{
    margin-left: 40px;
    margin-top: 60px;
    width: 60%;
  }

  .seta{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .parallax-container{
    background-position: left bottom;
  }
}