* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    background: linear-gradient(to bottom, rgb(0, 0, 4), rgb(7, 1, 25), rgb(84, 3, 102));
    display: flex;
    height: 100vh;
    justify-content: center;
    min-width: 300px;
  }
  
  @media (min-width:950px){
    .container {
      max-width: 1100px;
      width: 80vw;
      background-color: aliceblue;
      margin-top: 3vh; /* Reduzi a margem superior */
      padding: 0px; /* Reduzi o preenchimento */
      padding-bottom: 0;
      border-radius: 10px;
    }
    #logo-top{
      display: none;
    }
    #link-criar-conta{
      display: none;
      margin-top: 20px;
    }
    .left {
      float: left;
      width: 35%; /* Reduzi a largura */
      margin-left: 0%; /* Reduzi a margem esquerda */
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .left h2 {
      margin: 15px 0 8px 0; /* Reduzi a margem superior e o tamanho da fonte */
      font-size: 40px; /* Reduzi o tamanho da fonte */
      background: linear-gradient(to bottom, rgb(4, 4, 143), rgb(101, 23, 161), rgb(243, 243, 243));
      -webkit-background-clip: text;
      color: transparent;
     
    }
    
    .left label {
      display: flex;
      width: 100%;
      line-height: 18px; /* Reduzi a altura da linha */
      font-weight: bolder;
      margin-top: 2px;
      font-size: 16px;
      margin-left: -60px;
    }
    
    #Senha, #Email {
      border-radius: 8px; /* Reduzi o raio do border-radius */
      background-color: rgba(255, 255, 255, 0.01); /* Reduzi a opacidade */
      display: flex;
      width: 200%; /* Reduzi a largura */
      height: 35px; /* Reduzi a altura */
      padding-left: 10px; /* Reduzi o preenchimento esquerdo */
      border: 1px solid black;
      outline: none;
      margin-left: -57px;
    }
    
    .left a {
      color: rgb(23, 75, 205);
    }
    
    .left button {
      font-size: 18px; /* Reduzi o tamanho da fonte */
      color: white;
      background: linear-gradient(to bottom, rgb(27, 27, 156), rgb(183, 105, 195), rgb(243, 243, 243));
      padding: 7px; /* Reduzi o preenchimento */
      border: none;
      border-radius: 10px;
      font-weight: bolder;
    }
    
    .right {
      float: right;
      width:50%; /* Reduzi a largura */
      display: flex;
      flex-direction: column;
      justify-items: center;
      border-left: 1px solid rgb(76, 44, 220);
      padding-left: 7px; /* Reduzi o preenchimento esquerdo */
      padding-right: 20px;
    }
    
    .right h2 {
      margin: 45px 6px 0 6px; /* Reduzi a margem superior e o preenchimento */
      font-size: 23px; /* Reduzi o tamanho da fonte */
    }
    
    .right button {
      padding: 1px; /* Reduzi o preenchimento */
      font-size: 18px; /* Reduzi o tamanho da fonte */
      color: white;
      background: linear-gradient(to bottom, rgb(27, 27, 156), rgb(183, 105, 195), rgb(243, 243, 243));
      padding: 4px; /* Reduzi o preenchimento */
      border: none;
      border-radius: 7px;
      font-weight: bolder;
    }
    
    #titulo {
      background: linear-gradient(to bottom, rgb(6, 6, 60), rgb(124, 51, 135));
      -webkit-background-clip: text;
      color: transparent;
    }
    
    
    #img-over {
      width: 80%; /* Reduzi a largura */
      margin-top: -30px; /* Reduzi a margem superior */
    }
    
    .bottom {
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
      text-align: center;
      width: 100%;
      height: 105px; /* Reduzi a altura do .bottom */
      position: relative;
      overflow: hidden;
     
    }
    
    .bottom-circle {
      background: linear-gradient(to bottom, rgb(58, 43, 164),rgb(66, 3, 84));
      width: 78%;
    
      border-top-right-radius: 80px;
      border-top-left-radius: 80px;
      border-bottom: none;
    }
    
     #logo { 
      width: 14%; 
      animation: floating 3s linear infinite alternate; 
      
    }
  
    form{
      margin-left: 10px;
      width: 140%;
      display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
  }
      
    footer ul, a {
      display: flex;
      gap: 16px; /* Reduzi o espaço entre os elementos */
      list-style: none;
      text-decoration: none;
      justify-content: center;
      padding-top: 15px;
      color: white;
      font-size: 12px; /* Reduzi o tamanho da fonte */
    }
   
  }
@media (max-width:949px){
  .container {
    max-width: 1100px;
    width: 90vw;
    background-color: aliceblue;
    margin-top: 1vh; /* Reduzi a margem superior */
    padding: 0px; /* Reduzi o preenchimento */
    padding-bottom: 0;
    border-radius: 10px;
  }
  #logo-top{
    display: none;
  }
  #link-criar-conta{
    display: none;
    margin-top: 20px;
  }
  .left {
    float: left;
    width: 35%; /* Reduzi a largura */
    margin-left: 0%; /* Reduzi a margem esquerda */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left h2 {
    margin: 15px 0 8px 0; /* Reduzi a margem superior e o tamanho da fonte */
    font-size: 45px; /* Reduzi o tamanho da fonte */
    background: linear-gradient(to bottom, rgb(4, 4, 143), rgb(101, 23, 161), rgb(243, 243, 243));
    -webkit-background-clip: text;
    color: transparent;
   
  }
  
  .left label {
    display: flex;
    width: 100%;
    line-height: 18px; /* Reduzi a altura da linha */
    font-weight: bolder;
    margin-top: 2px;
    font-size: 19px;
    margin-left: -60px;
  }
  
  #Senha, #Email {
    border-radius: 8px; /* Reduzi o raio do border-radius */
    background-color: rgba(255, 255, 255, 0.01); /* Reduzi a opacidade */
    display: flex;
    width: 200%; /* Reduzi a largura */
    height: 35px; /* Reduzi a altura */
    padding-left: 10px; /* Reduzi o preenchimento esquerdo */
    border: 1px solid black;
    outline: none;
    margin-left: -57px;
  }
  
  .left a {
    color: rgb(23, 75, 205);
  }
  
  .left button {
    font-size: 18px; /* Reduzi o tamanho da fonte */
    color: white;
    background: linear-gradient(to bottom, rgb(27, 27, 156), rgb(183, 105, 195), rgb(243, 243, 243));
    padding: 7px; /* Reduzi o preenchimento */
    border: none;
    border-radius: 10px;
    font-weight: bolder;
  }
  
  .right {
    float: right;
    width:50%; /* Reduzi a largura */
    display: flex;
    flex-direction: column;
    justify-items: center;
    border-left: 1px solid rgb(76, 44, 220);
    padding-left: 7px; /* Reduzi o preenchimento esquerdo */
    padding-right: 20px;
  }
  
  .right h2 {
    margin: 45px 6px 0 6px; /* Reduzi a margem superior e o preenchimento */
    font-size: 23px; /* Reduzi o tamanho da fonte */
  }
  
  .right button {
    padding: 1px; /* Reduzi o preenchimento */
    font-size: 18px; /* Reduzi o tamanho da fonte */
    color: white;
    background: linear-gradient(to bottom, rgb(27, 27, 156), rgb(183, 105, 195), rgb(243, 243, 243));
    padding: 4px; /* Reduzi o preenchimento */
    border: none;
    border-radius: 7px;
    font-weight: bolder;
  }
  
  #titulo {
    background: linear-gradient(to bottom, rgb(6, 6, 60), rgb(124, 51, 135));
    -webkit-background-clip: text;
    color: transparent;
  }
  
  
  #img-over {
    width: 80%; /* Reduzi a largura */
    margin-top: -30px; /* Reduzi a margem superior */
  }
  
  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 105px; /* Reduzi a altura do .bottom */
    position: relative;
    overflow: hidden;
   
  }
  
  .bottom-circle {
    background: linear-gradient(to bottom, rgb(58, 43, 164),rgb(66, 3, 84));
    width: 78%;
  
    border-top-right-radius: 80px;
    border-top-left-radius: 80px;
    border-bottom: none;
  }
  
   #logo { 
    width: 14%; 
    animation: floating 3s linear infinite alternate; 
    
  }

  form{
    margin-left: 10px;
    width: 140%;
    display: flex;
  flex-direction: column;
 justify-content: center;
 align-items: center;
}
    
  footer ul, a {
    display: flex;
    gap: 16px; /* Reduzi o espaço entre os elementos */
    list-style: none;
    text-decoration: none;
    justify-content: center;
    padding-top: 15px;
    color: white;
    font-size: 12px; /* Reduzi o tamanho da fonte */
  }
 
}
 
  /* @media (max-width:740px){
    .bottom {
      width: 100%;
      height: 100px; 
    }
    .bottom-circle {
      width: 40%;
      height: 150px; 
      border-radius: 50%;
      top: 75px; 
 
    }
  } */
  /* @media (max-width:560px){
    .bottom {
      width: 100%;
      height: 90px; 
    }
    .bottom-circle {
      width: 30%;
      height: 120px; 
      border-radius: 50%;
      top: 60px; 
 
    }
  } */
  @media (max-width:630px){
    #logo-top{
      display: block;
      height: 80px;
      margin-left: 90px;
    }
    #link-criar-conta{
      display: block;
      margin-top: 20px;
    }
    .right{
      opacity: 0;
      height: 0;
    }
    .left{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
      width: 90%;
    }
    .left a{
      font-size: 12px;
    }
    #Senha, #Email {
      border-radius: 8px; /* Reduzi o raio do border-radius */
      background-color: rgba(255, 255, 255, 0.01); /* Reduzi a opacidade */
      display: flex;
      width: 196%; /* Reduzi a largura */
      height: 22px; /* Reduzi a altura */
      padding-left: 20px; /* Reduzi o preenchimento esquerdo */
      border: 1px solid black;
      outline: none;
    }
  
   
    .bottom {
      width: 100%;
      height: 50px;
    }
    .bottom-circle {
      display: none;
    }
  
  }
  /* @media (min-width:800px){

    .roxo{
      width: 80%;
    height: 20%;
    
    background: linear-gradient(to top,rgb(46, 36, 160),purple);
    margin-top: -75px;
    padding: 0px;
    position: absolute;
    display: flex;
    justify-content: center;
  }

  
  .image{
    width: 100%;
    background-size: cover;
    position: relative;
    display: flex;
    padding: 0px;
    box-sizing: border-box;
    justify-content: center;
    height: 100%;
    margin: 0 0px 0 0px;
    padding: 0;
    
  }
  
  #container-wave{
    width: 100%;
    position: absolute;
    bottom: 70px;
    overflow: hidden;
    
  }
  
  #container-wave svg{
    width: 200%;
    position: relative;
    animation: move-left 5s linear infinite;
    
    
  }
  } */
  
  @keyframes move-left{
    0%{
      left: 0%;
    }
    100%{
      left: -100%;
    }
    
  }
  
  @keyframes floating {
    0% {
      transform: translateY(5px);
    }
    50% {
      transform: translateY(0px); /* Altere a altura da flutuação conforme necessário */
    }
  100% {
    transform: translateY(-5px);
  }
}
@media (max-width:520px){
  #logo-top{
    display: block;
    height: 80px;
    margin-left: 90px;
  }
  #link-criar-conta{
    display: block;
    margin-top: 20px;
  }
  .right{
    opacity: 0;
    height: 0;
  }
  .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 70%;
    transition: ease-in;
  }
  .left a{
    font-size: 12px;
  }
  #Senha, #Email {
    border-radius: 8px; /* Reduzi o raio do border-radius */
    background-color: rgba(255, 255, 255, 0.01); /* Reduzi a opacidade */
    display: flex;
    width: 196%; /* Reduzi a largura */
    height: 32px; /* Reduzi a altura */
    padding-left: 20px; /* Reduzi o preenchimento esquerdo */
    border: 1px solid black;
    outline: none;
  }

 
  .bottom {
    width: 100%;
    height: 50px;
  }
  .bottom-circle {
    display: none;
  }

}